.contato-formulario {
    margin: 0px auto;
    border-radius: 20px;
    max-width: 800px;
    padding: 40px 40px;
    background: rgba(45, 44, 112, 0.082);
}
.contato-formulario h1 {
    font-size: 20px;
    text-align: center;
}

.contato-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contato-formulario input[type="text"],
.contato-formulario input[type="number"],
.contato-formulario input[type="email"],
.contato-formulario textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    border: 1px solid #024c97;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}


.contato-formulario input[type="text"]:focus,
.contato-formulario input[type="email"],
.contato-formulario textarea:focus {
    outline: none;
    border-color: blue;

}

.contato-formulario label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.form4 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.contato-formulario .botao {
    width: 128px;
    height: 64px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    border-color: #024c97;
    background-color: #024c97;
    color: #ffffff;
}

.contato-formulario .botao:hover {
    background-color: #5d99e7;
}