footer {
    display: flex;
    width: 100%;
    position: absolute;
    background: #024c97;
    text-align: center;
    justify-content: center;
    font-size: 1.125rem;
    color: #ffffff;
    align-items: center;
    flex-direction: row-reverse;
}

footer img {
    height: 60px;
    width: 100px;
}

