 /* :root {
    margin: 0px;
    gap: 0px;
}  */

.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(0,81,128) 5px solid;
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(0,81,160);
    font: 600 1rem/1.5 "Poppins", sans-serif;
    
    
}
.header-logo img {
    height: 100px;
    width: 200px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header-menu li {
    height: 20px;
    width: auto;
    background-color: rgb(0,81,128);
    border-radius: 5px;
}

.header-menu li a {
    color: white;
}

.contato-formulario .form1 {
    display: grid;
    border: 5px solid rgb(0, 81, 128);
    max-width: 1200px;
    padding: 40px 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.contato-formulario input {
    border-radius: 5px;
}

.contato-formulario label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.sobre-texto {
    display: block;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
