
.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(0,81,160);
    font: 600 1rem/1.5 "Poppins", sans-serif;
    
    
}
.header-logo img {
    height: 100px;
    width: 200px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header-menu li {
    height: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.header-menu li a {
    color: blue;
}

.contato-formulario {
    max-width: 1200px;
    padding: 40px 20px;
    gap: 20px;
    grid-template-columns: 2fr;
}

.contato-formulario h1 {
    font-size: 20px;
    text-align: center;
}

.contato-formulario form {
    display: grid;
    text-align: left; 
}

.contato-formulario input {
    border-radius: 5px;
}

.contato-formulario label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.sobre-texto {
    display: block;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
}
