.titulo-section {
  text-transform: uppercase;
}

.titulo-section::after {
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  background: #024c97;
  position: absolute;
  gap: 10px 20px;
}


.main-container {
  display: flex;
  max-width: 1200px;
  padding: 40px 20px;
  align-items: center;
  margin: 0 auto;
}


.cursos {
    max-width: 1200px;
    padding: 40px 20px;
    align-items: center;
    margin: 0 auto;
  }
  
  
  .cards {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }

  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 0px 210px 190px;
    grid-template-areas: "number" "image" "text";
    font-family: roboto;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
  }

  .ordem {
    font-size: 18px !important;
    border-radius: 0px 0px 2px 0px !important;
    width: 22px !important;
    height: 22px !important;
  }

  
  
  @media(max-width:800px) {
  
    
  
    ul li a {
      margin: 5px;
      font-size: 12px;
      font-weight: 700;
      align-items: right;
    }
  
    /* .cards {
          flex-direction: column;
          margin: 2px;
          height: 230vh;
      } */
    .logo {
      width: 50px;
      height: 50px;
    }
  
    footer span {
      font-size: 10px;
    }
  
    .card {
      display: grid;
      grid-template-columns: 250px !important;
      grid-template-rows: 0px 150px 150px !important;
      grid-template-areas: "number" "image" "text";
      font-family: roboto;
      background: white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
      text-align: center;
    }
  
    .ordem {
      font-size: 18px !important;
      border-radius: 0px 0px 2px 0px !important;
      width: 22px !important;
      height: 22px !important;
    }
  
    .card-text h2 {
      font-size: 16px !important;
    }
  
    .card-text p {
      font-size: 12px !important;
    }
}